
 
  <tr>
    <td>
    <ul>
      <li>
        <%= gravatar_for user, :size => 20 %>
        <%= link_to username(user), user %>
        <%= link_to " [edit] ",edit_user_path(user), :method => :get if user == current_user || current_user.admin? %>
        <%= link_to " [delete] ", user, :method => :delete, :confirm => "Are you sure?!" %>
    </td>
  </tr>
 