<%= form_tag rides_path, :method => 'get' do %>
<table class="search round">
  <tr>
    <td>
    <div class="center">
      <% seed_city = request.location.city %>
      <strong>From:</strong> <%= text_field_tag :search_origin, seed_city, 
                                                :placeholder => "city, state" %> 
      <%= submit_tag "Search", :name => nil %>
    </div>
    </td>
  </tr>
</table>
<% end %>