<%= form_tag rides_path, :method => 'get' do %>
<table class="search round">
  <tr>
    <td>
    <div class="center">
      <% seed_city = params[:search_city] %>
      <% seed_city ||= request.location.city %>
      <strong>From:</strong> <%= text_field_tag :search_city, seed_city, 
                                                :placeholder => "city, state" %> 
      +/- <%= select_tag :miles_radius, options_for_select([0, 10, 25, 50, 100]) %>
      miles
      <%= submit_tag "Search", :name => nil %>
    </div>
    </td>
  </tr>
</table>
<% end %>