<div class="container">  
      <div class="span-24">  
          Header  
      </div>  
      <div class="span-4">  
          Left sidebar  
      </div>  
      <div class="span-16">  
          Main content  
      </div>  
      <div class="span-4 last">  
          Right sidebar  
      </div>  
  </div>  