.container {
  width: 650px;
  background: #408888;
  box-shadow: 0px 0px 70px #555;
}

body {
  background: #43BFC7;
  font-size: 100%;
}

/* header, section, footer */
header {
  padding-top: 20px; 
}
header img {
  padding: .87em .65em;
  background: #eee;
  border: .1em solid black;
  box-shadow: 4px 0px 20px #000; 
}
section {
  margin: 1em -80px;
  border: .1em solid black;
  padding: 35px 15px;
  background: #eff;
}
section img {
  padding: 0em;
  border: 0em;
  box-shadow: 0px 0px 0px #000;
}
section h1 {
  font-size: 200%;
}
footer {
  text-align: center;
  margin: 30px -30px;
  width: 710px;
  
}
footer nav {
  float: center;
}
/* header, section, footer */


/* links */
a {
  color: #09c;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}
a:visited {
  color: #09c;
}
/* links */


/* nav bar */
nav {
  float: right;
}
nav {
  background-color: black;
  padding: 0 .7em;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
}
nav img {
  padding: 0;
  border: 1px;
}
nav ul {
  margin: 0;
  padding: 0px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em 0;
}
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #09c;
}
nav ul li a:visited {
  color: #09c;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #ddd;
}
/* nav bar */


/* buttons */
a.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 110px;
  color: black;
  font-size: 125%;
  padding: 20px;
  font-weight: bold;
}
a.button:hover {
  background-color: #75f1f9;
}
a.signup {
  background: #43BFC7;
}
a.signin {
  background: #43BFC7;
}
a.find_rides {
  background: #43BFC7;
}
/* buttons */


.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
div.center {
  text-align: center;
}



/* tables */
table {
  width: 100%;
  padding: 5px;
  margin: 0px;
  border: .1em solid gray;
}
table.shadow_down {
  box-shadow: 3px 5px 10px #999;
}
table.shadow_up {
  box-shadow: 3px -5px 10px #999;
}
table.home {
  border: 0px;
}
table.search {
  font-size: 14px;
  padding: 0px 3px;
}
table.rideform {
  padding: 30px 30px;
}
table.rideform td {
  padding: 15px;
  text-align: center;
  width: 30%;
}
table.options {
	text-align: center;
	padding: 25px;
}
td.submit {
	text-align: right;
	width: 100%;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
	padding-top: 14px;
}
table.form td.center {
	text-align: center;
}
.title {
	font-size: 135%;
	font-weight: bold;
	text-align: left;
}
.center {
	text-align: center;
}
table.plain {
	border: 0px;
	padding: 0px;
	text-align: left;
}

/* ride table */
table.rides {
  padding: 3px;
  margin: 0px;
  font-size: 12px;
}
table.rides :nth-child(even) td, table.rides tr.even td {
  background:#dee;
}
table.ride :nth-child(even) td, table.rides tr.even td {
  background:#dee;
}
table.rides td.date {
  background: #cee;
  width: 40px;
  vertical-align: center;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 0px;
}
table.rides td.time {
  width: 20px;
  text-align: right;
  padding-left: 0px;
  padding-right: 5px;
}
table.rides td.day {
  width: 20px;
  padding-left: 5px;
}
table.rides :nth-child(even) td.date {
  background:#eff;
}

table.rides td.user {
  width: 75px;
}
table.rides td.cities {
  width: 90px;
}	
table.rides tr td.gravatar {
  padding: 0px;
  vertical-align: top;
  margin-bottom: -5px;
  width: 15px;
}
table.rides tr td.ride {
  vertical-align: center;
  text-align: left;
  font-size: 13px;
  width: 450px;
  padding-top: 0px;
  padding-bottom: 0px;
}
table.rides tr td.timestamp {
  width: 180px;
  text-align: right;
  font-size: 100%;
  color: #666;
}
table.ride {
  padding: 20px;
  font-size: 100%;
}
table.ride td {
	padding: 5px;
}
/* rides table */


/* profile */
td.main {
  width: 70%;
  padding: 1em;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  border: 2px solid #999;
  background: #52cccc;
}
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
/* profile */


div.field, div.actions {
  text-align: bottom;
  margin-bottom: 7px;
  font-size: 14px;
}
select {
   background: transparent;
   padding: 5px;
   font-size: 12px;
   border: 1px solid #aaa	;
   height: 30px;
}

form textarea {
  
}

/*
form.new_ride {
  margin-bottom: 2em;
}

form.new_ride textarea {
  height: 10em;
  margin-bottom: 0;
}
*/

div.fieldcenter {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.field_with_errors {
  margin-top: 10px;
  padding: 0px;
  background-color: #dd6666;
  display: table;

  label {
    color: #fff;
  }
}

/* errors */
#error_explanation {
  text-align: left;
  width: 700px;
  border: 1px solid red;
  padding: 5px 20px 5px 20px;
  margin: 0px 0px 20px 0px;
  background-color: #dd6666	;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 10px 5px 5px 0px;
    font-size: 12px;
    margin: -7px;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0px;
    padding: 0px 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/* errors */

ul.users {
  margin-top: 0em;
  padding: 10px;
  font-size: 12px;
}

.users li {
  list-style: none;
  margin-bottom: -17px;
}

table.regular {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #999;
  background: #ddd;
}

td.lt {
  /*width: 40%;*/
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #999;
  background: #dda;
}

td.rt {
  float: right;
  border: 1px solid #999;
  margin-left:auto;
  margin-right:auto;
  float: right;
  text-align: left;
  background: #ddd;
}

td.mid {
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
}

table.newride {
  
}



table.newride td {
  vertical-align: bottom;
  text-align: left;
}

h1.rides {
  margin-bottom: 0.3em;
}

h3.rides {
  text-align: center;
}

div.headline  {
  text-align: center;
  font-size: 18px;
  font-weight: italic;
  font-family: Verdana;  
}	



div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.rides {
  font-size: 80%;
}

